@using NectarWeb.Models.ViewModels
@model BeekeeperSubscriptionView
@{
    ViewData["Title"] = "Fructifiez vos ruches | Rejoignez notre communauté";
    ViewData["MetaDescription"] = "Inscription simple et gratuite. Proposez vos services d'intervention d'essaim d'abeilles à de nombreux particuliers et faites fructifiez vos ruches.";
}

<link rel="stylesheet" href="~/css/tools/MyCarousel.css?id=2" />
<link rel="stylesheet" href="~/css/tools/FormValidation.css?id=2" />
<link rel="stylesheet" href="~/css/tools/image-overlay-opacity.css?id=2" />
<script src="~/js/pages/Beekeeper.js?id=2"></script>
<link rel="stylesheet" href="~/css/pages/beekeepersSubscription.css?id=4" />
<link rel="stylesheet" href="~/css/tools/FormValidation.css?id=2" />

@*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">*@
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<header id="home">
    <div class="overlay"></div>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="~/">
                <h3 class="my-heading ">NECTAR</h3>
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars mfa-white"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Contacter/Apiculteur">Particuliers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Apiculteur/Inscription">Apiculteurs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#team"> Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#testimonials">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="pt-5 pb-5 bg-dark position-relative background-bksearch-form ">
        <div class="bg-overlay"></div>
        <div class="container pt-5 pb-5 position-relative">
            <div class="row d-flex justify-content-between pt-lg-5 align-items-center">
                <div class="col-xl-5 col-lg-6 col-md-7 text-center text-lg-left mb-5 mb-lg-0">
                    <h1 class="display-3 font-weight-bold text-white aos-init aos-animate title-main" data-aos="fade-up">
                        Rejoignez notre réseau d'apiculteurs
                    </h1>
                    <div class="my-4 aos-init" data-aos="fade-up">
                        <p class=" lead text-white subtitle-main">
                            Remplissez vos informations, nous vous enverrons un
                            mail de confirmation sous 24h
                        </p>
                    </div>
                    @*<div class="d-flex justify-content-center justify-content-lg-start aos-init" data-aos="fade-up">
                          <div class="d-flex mr-2">
                            <i class="fas fa-star fa-lg text-warning m-1"></i>
                            <i class="fas fa-star fa-lg text-warning m-1"></i>
                            <i class="fas fa-star fa-lg text-warning m-1"></i>
                            <i class="fas fa-star fa-lg text-warning m-1"></i>
                            <i class="fas fa-star fa-lg text-warning m-1"></i>
                          </div>
                          <span class="text-white">(Average score: 4.9/5)</span>
                        </div>*@
                </div>
                <div class="col">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-md-10">
                            <form asp-controller="Beekeeper" asp-action="ValidateSubscription" class="position-relative d-block aos-init aos-animate" data-aos="fade-up">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, new { @class = "text-white" })
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-control-lg", @placeholder = "example@gmail.com" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "errorMessage" })
                                    <small id="emailHelp" class="form-text text-muted">Nous ne fournirons votre mail à personne</small>

                                    @*@Html.LabelFor(model => model.PostalCode, new { @class = "text-white" })
                                        @Html.TextBoxFor(model => model.PostalCode, new { @class = "form-control form-control-lg", @placeholder = "75018" })
                                        @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "errorMessage" })*@
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PostalCode, new { @class = "text-white" })
                                    @Html.TextBoxFor(model => model.PostalCode, new { @class = "form-control form-control-lg", @placeholder = "75018" })
                                    @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "errorMessage" })
                                    @*@Html.LabelFor(model => model.PhoneNumber, new { @class = "text-white" })
                                        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control form-control-lg", @placeholder = "0601020304" })
                                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "errorMessage" })*@
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FirstName, new { @class = "text-white" })
                                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control form-control-lg", @placeholder = "Francois" })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "errorMessage" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.LastName, new { @class = "text-white" })
                                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control form-control-lg", @placeholder = "Dupont" })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "errorMessage" })
                                    @*@Html.LabelFor(model => model.Email, new { @class = "text-white" })
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-control-lg", @placeholder = "exemple@gmail.com" })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "errorMessage" })*@
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PhoneNumber, new { @class = "text-white" })
                                    @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control form-control-lg", @placeholder = "0685479625" })
                                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "errorMessage" })
                                    @*@Html.LabelFor(model => model.Email, new { @class = "text-white" })
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-control-lg", @placeholder = "exemple@gmail.com" })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "errorMessage" })*@
                                </div>
                                <div class="form-group text-center text-white bold">
                                    <input type="checkbox" />&nbsp;Valider les <a href="/Apropos/CGU">CGU</a><br />
                                    <button type="submit" class="btn btn-lg btn-success btn-block mb-2">Valider</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @*<table class="table-full background-home">
          <tr>
            <td class="half-nest">
              <h1 class="title-home frtest">Vous avez un essaim <br /><span> d'abeilles chez vous ?</span> </h1>
              <br />
              <span class="beekeeper-btn-contact">
                <button class="btn-home btn btn-primary btn-rounded" onclick="window.location.href='/Contacter/Apiculteur'">Contacter un apiculteur</button>
              </span>
            </td>
            <td>
            </td>
          </tr>
        </table>*@
</header>

<section class="overview-wrap" id="overview">
    <div class="">
        <div class="contenedor">
            <h2 class="title-overview wow fadeInUp">Rejoindre Nectar, comment faire ?</h2>
            <p class="subtitle-overview wow fadeInUp"></p>
            <div class="row" style="padding-right: 10.8em; padding-left: 4.5em;">
                <div class="col-md-1 col-lg-1"></div>
                <div class="col-md-3 col-lg-2 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="overview-box mx-auto">
                        <div class="prev-img-1">

                        </div>
                        <h5>Remplir<br /> le formulaire</h5>
                        <p class=" mb-0">
                            Entrez toutes les infos
                            nécessaires. Après validation, nous proposerons vos services aux particuliers...
                        </p>
                    </div>
                </div>
                <div class="col-md-1 col-lg-1"></div>
                <div class="col-md-3 col-lg-2 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="overview-box mx-auto">
                        <div class="prev-img-2">

                        </div>
                        <h5>Validation de votre inscription</h5>
                        <p class=" mb-0">
                            Notre équipe vous enverra un e-mail de confirmation sous 24h. Dès lors, vous serez inscrit dans notre base et visible auprès des particuliers dans le besoin.
                        </p>
                    </div>
                </div>
                <div class="col-md-1 col-lg-1"></div>
                <div class="col-md-3 col-lg-2 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="overview-box mx-auto">
                        <div class="prev-img-3">

                        </div>
                        <h5>Intervention chez les particuliers</h5>
                        <p class=" mb-0">
                            Bénéficiez de la puissance de communication de Nectar pour vous mettre en relation avec des particuliers pour la récupération d'essaims d'abeilles. Ils vous contacteront directement pour convenir d'un rendez-vous.'
                        </p>
                    </div>
                </div>
                <div class="col-md-1 col-lg-1"></div>
                <div class="col-md-3 col-lg-2 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="overview-box mx-auto">
                        <div class="prev-img-4">

                        </div>
                        <h5>Faire fructifier<br /> vos ruches !</h5>
                        <p class=" mb-0">
                            Repeuplez et/ou faites fructifier vos ruches avec la récupération d'essaims d'abeilles sauvages !
                        </p>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2"></div>
            </div>


        </div>
    </div>
</section>
<section class="galeria">
    <div class="sesgoarriba"></div>
    <div class="imagenes">
        <div class="enmica">
            <br /><br /><br /><br />
            <h2 style="text-align: center;
  color: #582E13;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 64px;
  margin-bottom: 23px;
  font-family: Coolvetica;">
                Quels avantages ?
            </h2>
        </div>
    </div>
</section>
<section class="carousel-section">
    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="mask flex-center">
                    <div class="mcontainer">
                        <div class="row align-items-center">
                            <div class="col-md-7 col-12 order-md-1 order-2">
                                <h4 style="color: #FFA011; font-family: FFClanPro-BlackItalic;">
                                    Repeupler vos ruches
                                </h4>
                                <p style="color: #1F1F1F; font-family: Avenir;">
                                    Bénéficiez de la puissance de communication de Nectar
                                    pour vous mettre en relation avec des particuliers
                                    pour la récupération/sauvetage d'essaims d'abeilles sauvages.
                                    Bientôt, une cagnotte sera destinée à l'achat de nouvelles ruches
                                    pour nos apiculteurs partenaires.
                                </p>
                                <a class="btn btn-rounded to-know-more" href="#">En savoir plus</a>
                            </div>
                            <div class="col-md-5 col-12 order-md-2 order-1"><img src="~/img/money.png" class="mx-auto" alt="slide"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="mask flex-center">
                    <div class="mcontainer">
                        <div class="row align-items-center">
                            <div class="col-md-7 col-12 order-md-1 order-2">
                                <h4 style="color: #FFA011; font-family: FFClanPro-BlackItalic;">
                                    Préserver la biodiversité
                                </h4>
                                <p style="color: #1F1F1F; font-family: Avenir;">
                                    40% des espèces d'abeilles sauvages sont en voie de disparition. Les causes ?
                                    En grande partie l’utilisation de nombreux produits chimiques et
                                    la dégradation des régions forestières. Aidez-nous à protéger notre biodiversité.
                                </p>
                                <a class="btn btn-rounded to-know-more" href="#">En savoir plus</a>
                            </div>
                            <div class="col-md-5 col-12 order-md-2 order-1"><img src="~/img/flowers.png" class="mx-auto" alt="slide"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="mask flex-center">
                    <div class="mcontainer">
                        <div class="row align-items-center">
                            <div class="col-md-7 col-12 order-md-1 order-2">
                                <h4 style="color: #FFA011; font-family: FFClanPro-BlackItalic;">
                                    Augmenter votre CA
                                    <span style="font-size: 15px;">(bientôt disponible)</span>
                                </h4>
                                <p style="color: #1F1F1F; font-family: Avenir;">
                                    Nectar proposera prochainement aux apiculteurs partenaires
                                    la vente de leur produits à des consommateurs locaux.
                                </p>
                                <a class="btn btn-rounded to-know-more">En savoir plus</a>
                            </div>
                            <div class="col-md-5 col-12 order-md-2 order-1"><img src="~/img/honey.png" class="mx-auto" alt="slide"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
    </div>
</section>




@*<form asp-controller="Beekeeper" asp-action="ValidateSubscription" class="form-center">
      <div class="divSubscription">

        <div>
          <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">
              <h1>Inscription apiculteurs</h1>
            </div>
            <div class="col-sm-4">

            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">
              <div class="form-group">
                @Html.LabelFor(model => model.Email)
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "example@gmail.com" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "errorMessage" })
                <small id="emailHelp" class="form-text text-muted">Nous ne fournirons votre mail à personne</small>
              </div>
            </div>
            <div class="col-sm-4">

            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">
              <div class="form-group">
                @Html.LabelFor(model => model.PostalCode)
                @Html.TextBoxFor(model => model.PostalCode, new { @class = "form-control", @placeholder = "75018" })
                @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "errorMessage" })
              </div>
            </div>
            <div class="col-sm-4">

            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">
              <div class="form-group">
                @Html.LabelFor(model => model.LastName)
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @placeholder = "Biatch" })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "errorMessage" })
              </div>
            </div>
            <div class="col-sm-4">

            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">
              <div class="form-group">
                @Html.LabelFor(model => model.FirstName)
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @placeholder = "Roger" })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "errorMessage" })
              </div>
            </div>
            <div class="col-sm-4">

            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">
              <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber)
                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", @placeholder = "0685479625" })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "errorMessage" })
              </div>
            </div>
            <div class="col-sm-4">

            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">CGU</label>
              </div>
              <button type="submit" class="btn btn-primary">S'inscrire sur Nectar</button>
            </div>
          </div>
          <div class="col-sm-4">

          </div>
        </div>
      </div>
    </form>*@



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init({
        duration: 2500,
    })
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script>
    new WOW().init();
</script>
<script>

    $(window).on("scroll", function () {
        if ($(this).scrollTop() > 10) {
            $("nav.navbar").addClass("mybg-dark");
            $("nav.navbar").addClass("navbar-shrink");

        } else {
            $("nav.navbar").removeClass("mybg-dark");
            $("nav.navbar").removeClass("navbar-shrink");

        }

    });


</script>