@using NectarWeb.Models.ViewModels
@model SearchBeekeeperView
@{
    ViewData["Title"] = "View";
}
<link rel="stylesheet" href="~/css/pages/Search.css?id=1" />

<div class="center-block-text">
  <h3>
    Un essaim d'abeilles s'est chez installé chez vous ? Ne vous affolez pas, n'appeler non plus pas les pompiers, ils n'interviennent plus pour retirer les essaims. Remplissez le formulaire, et contactez un de nos apiculteurs, ils se feront un grand plaisir de répondre présents.
  </h3>
</div>
<form asp-controller="Search" asp-action="SaveBeesavior" class="form-center" method="post">
  <div class="form-group">

  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.PhoneNumber)
    @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.PhoneNumber)
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.Email)
    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Email)
  </div>
  <div class="col-sm-4">
    <button type="submit" class="form-control">Valider</button>
  </div>
  
</form>

