@using NectarWeb.Models.ViewModels
@model SearchBeekeeperView
@{
  ViewData["Title"] = "View";
}
<link rel="stylesheet" href="~/css/tools/FormValidation.css?id=2" />
<link rel="stylesheet" href="~/css/pages/Search.css?id=2" />
<link rel="stylesheet" href="~/css/tools/image-overlay-opacity.css?id=2" />
<script src="~/js/pages/Beekeeper.js?id=2"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<section class="pt-5 pb-5 bg-dark position-relative background-bksearch-form ">
  <div class="bg-overlay"></div>
  <div class="container pt-5 pb-5 position-relative">
    <div class="row d-flex justify-content-between pt-lg-5 align-items-center">
      <div class="col-xl-5 col-lg-6 col-md-7 text-center text-lg-left mb-5 mb-lg-0">
        <h1 class="display-3 font-weight-bold text-white aos-init aos-animate" data-aos="fade-up">Un essaim d'abeilles chez vous ?</h1>
        <div class="my-4 aos-init" data-aos="fade-up">
          <p class=" lead text-white">Remplissez le formulaire, et contactez un de nos apiculteurs, ils se feront un grand plaisir de vous répondre.</p>
        </div>
        <div class="d-flex justify-content-center justify-content-lg-start aos-init" data-aos="fade-up">
          <div class="d-flex mr-2">
            <i class="fas fa-star fa-lg text-warning m-1"></i>
            <i class="fas fa-star fa-lg text-warning m-1"></i>
            <i class="fas fa-star fa-lg text-warning m-1"></i>
            <i class="fas fa-star fa-lg text-warning m-1"></i>
            <i class="fas fa-star fa-lg text-warning m-1"></i>
          </div>
          <span class="text-white">(Average score: 4.9/5)</span>
        </div>
      </div>
      <div class="col">
        <div class="row justify-content-center">
          <div class="col-xl-8 col-md-10">
            <form class="position-relative d-block aos-init aos-animate" data-aos="fade-up">
              <div class="form-group">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group mb-1">
                      <label class="text-white">Quel essaim avez-vous identifié ?</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group rounded bg-white p-2 border">
                      <div class="custom-control custom-radio">
                        <input type="radio" id="course-radio-beginner-1" name="course-radio-1" class="custom-control-input">
                        <label class="custom-control-label" for="course-radio-beginner-1">Abeilles</label>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group rounded bg-white p-2 border">
                      <div class="custom-control custom-radio">
                        <input type="radio" id="course-radio-advanced-1" name="course-radio-1" class="custom-control-input">
                        <label class="custom-control-label" for="course-radio-advanced-1">Guêpes</label>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group rounded bg-white p-2 border">
                      <div class="custom-control custom-radio">
                        <input type="radio" id="course-radio-advanced-2" name="course-radio-1" class="custom-control-input">
                        <label class="custom-control-label" for="course-radio-advanced-2">Frelons</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                @Html.LabelFor(model => model.PostalCode, new { @class = "text-white" })
                @Html.TextBoxFor(model => model.PostalCode, new { @class = "form-control form-control-lg", @placeholder = "75018" })
                @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "errorMessage" })
              </div>
              <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber, new { @class = "text-white" })
                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control form-control-lg", @placeholder = "0601020304" })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "errorMessage" })
              </div>
              <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "text-white" })
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-control-lg", @placeholder = "exemple@gmail.com" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "errorMessage" })
              </div>
              <div class="form-group text-center text-white">
                <input type="checkbox" />&nbsp;Valider les <a href="/About/CGU">CGU</a><br />
                <input type="submit" class="btn btn-lg btn-success btn-block mb-2" value="Valider" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="background-bgform">
  <div class="center-block-text">
    <h3>
      Un essaim d'abeilles s'est installé chez vous ?
    </h3>
    <br /><br />
    <h4 style="font-weight:normal!important;">
      Ne vous affolez pas, n'appelez pas non plus les pompiers, ils n'interviennent plus pour retirer les essaims.
    </h4>
    <br />
    <h4 style="font-weight:normal!important;">
      Remplissez le formulaire, et contactez un de nos apiculteurs, ils se feront un grand plaisir de répondre présents.
    </h4>
    <br />
    <br />
  </div>
  <form asp-controller="Search" asp-action="BeekeeperResults" class="form-center" method="post">
    <div class="form-group">
      <label>Avez-vous identifié l'essaim ?</label>
      <div class="row">
        <div class="ioo-container" onclick="selectSwarm(this);">
          <img class="resize-swarm ioo-image" src="~/img/beeswarm.png" alt="Abeilles" />
          <div class="ioo-middle">
            <div class="ioo-text">Abeilles</div>
          </div>
        </div>

        <div class="ioo-container padding-img" onclick="selectSwarm(this);">
          <img class="resize-swarm ioo-image" src="~/img/vasp swarm.png" alt="Guêpes" />
          <div class="ioo-middle">
            <div class="ioo-text">Guêpes</div>
          </div>
        </div>

        <div class="ioo-container" onclick="selectSwarm(this);">
          <img class="resize-swarm ioo-image" src="~/img/hornet swarm.png" alt="Frelons" />
          <div class="ioo-middle">
            <div class="ioo-text">Frelons</div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      @Html.LabelFor(model => model.PostalCode)
      @Html.TextBoxFor(model => model.PostalCode, new { @class = "form-control" })
      @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "errorMessage" })
    </div>
    <div class="form-group">
      @Html.LabelFor(model => model.PhoneNumber)
      @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
      @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "errorMessage" })
    </div>
    <div class="form-group">
      @Html.LabelFor(model => model.Email)
      @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
      @Html.ValidationMessageFor(model => model.Email, "", new { @class = "errorMessage" })
    </div>
    <div class="col-sm-4">
      <input type="checkbox" />&nbsp;Valider les <a href="/About/CGU">CGU</a><br />
      <input type="submit" class="form-control" value="Valider" />
    </div>

  </form>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init({
    duration: 1200,
  })
</script>